@{
    ViewBag.Title = "Home Page";
}

<div align="center" class="jumbotron">
    <h1>Welcome</h1>
    
</div>

<h2 style="font-family:Algerian" align="center">This is an MVC App</h2>
<h2 style="font-family:Algerian" align="center">made by</h2>
<h2 style="font-family:Algerian" align="center">Georgi Petrunov</h2>
<h2 style="font-family:Algerian" align="center">Student id: 1901262017</h2>